<div class="mat-elevation-z8">
    <mat-card>
        <mat-card-content>
            <span>
                {{zalba.tipZalbe}}
            </span>  
            <span>
                {{zalba.datum}}
            </span>
            <span>
                {{zalba.organVlasti}}
            </span>
            <span>
                <a [routerLink]="'/zalba-list'" (click)="getHtml()">preuzmi html</a>
            </span>
            <span>                
                <a [routerLink]="'/zalba-list'" (click)="getPdf()">preuzmi pdf</a>
            </span>
            <span *ngIf="uloga === 'poverenik' && zalba.status === 'cekanje'">
                <a [routerLink]="'/resenje-form/' + zalba.broj">dodaj rešenje</a>
            </span>
        </mat-card-content>
    </mat-card>
</div>