<app-form-container>
    <h3>Zahtev za pristup informacijama od javnog značaja</h3><br><br>
    <form>
        <div id="editor">


                
        </div>

        <br><br>
        <app-center-container>
            <button 
            *ngIf="!zahtevPending"
            mat-raised-button 
            color="primary"
            (click)="posaljiZahtev()">Pošalji zahtev</button>
            <app-spinner-button *ngIf="zahtevPending"></app-spinner-button>
        </app-center-container>
    </form>
</app-form-container>
