<div class="mat-elevation-z8">
    <mat-card>
        <mat-card-content>
            <span>
                {{obavestenje.datum}}
            </span>  
            <span>
                {{obavestenje.datumZahteva}}
            </span>
            <span>
                <a [routerLink]="'/html/obavestenja/' + obavestenje.broj">preuzmi html</a>
            </span>
            <span>                
                <a [routerLink]="'/pdf/obavestenja/' + obavestenje.broj">preuzmi pdf</a>
            </span>
        </mat-card-content>
    </mat-card>
</div>