<div class="mat-elevation-z8">
    <mat-card>
        <mat-card-content>
            <span>
                {{obavestenje.datum}}
            </span>  
            <span>
                {{obavestenje.datumZahteva}}
            </span>
            <span>
                <a [routerLink]="'/obavestenje-list'" (click)="getHtml()">preuzmi html</a>
            </span>
            <span>                
                <a [routerLink]="'/obavestenje-list'" (click)="getPdf()">preuzmi pdf</a>
            </span>
        </mat-card-content>
    </mat-card>
</div>