<mat-drawer-container>
  <mat-drawer mode="side" #drawer class="mat-elevation-z24">
    <h3>Napredna pretraga</h3><br>

    <form [formGroup]="naprednaForma">
      <div [class.disabled]="fetchPending">
        <mat-form-field> 
          <mat-label>Datum</mat-label>
          <input 
          matInput 
          autocomplete="off"
          formControlName="datum" 
          placeholder="Unesite datum"
          [matDatepicker]="datum">
          <mat-datepicker-toggle matSuffix [for]="datum"></mat-datepicker-toggle>
          <mat-datepicker #datum></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Mesto</mat-label>
          <input 
          matInput 
          autocomplete="off"
          formControlName="mesto"
          placeholder="Unesite mesto">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Tip zahteva</mat-label>
          <mat-select formControlName="tip">
              <mat-option [value]="'obavestenje'">
                  obaveštenje da li organ poseduje traženu informaciju
              </mat-option>
              <mat-option [value]="'uvid'">
                  uvid u dokument koji sadrži traženu informaciju
              </mat-option>
              <mat-option [value]="'kopija'">
                  kopija dokumenta koji sadrži traženu informaciju
              </mat-option>
              <mat-option [value]="'dostava'">
                  dostava dokumenta koji sadrži traženu informaciju
              </mat-option>
          </mat-select>                
        </mat-form-field>
        <mat-form-field>
          <mat-label>Stanje zahteva</mat-label>
          <mat-select formControlName="stanje">
              <mat-option [value]="'cekanje'">
                čeka se odgovor na zahtev
              </mat-option>
              <mat-option [value]="'odobreno'">
                  zahtev je prihvaćen
              </mat-option>
              <mat-option [value]="'odbijeno'">
                  zahtev je odbijen
              </mat-option>
          </mat-select>                
        </mat-form-field>
      </div>
      <app-spacer-container>
        <span></span>
        <span>
          <button 
          *ngIf="!fetchPending"
          mat-raised-button 
          color="primary"
          (click)="naprednaPretraga()">Pretraži</button>
          <app-spinner-button *ngIf="fetchPending"></app-spinner-button>
        </span>
      </app-spacer-container>
    </form>

  </mat-drawer>
  <app-preloader *ngIf="fetchPending"></app-preloader>

  <div class="root">

    <h2>Lista podnešenih zahteva</h2><br>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="zahtevi">

        <ng-container matColumnDef="tip">
          <th mat-header-cell *matHeaderCellDef>Tip zahteva</th>
          <td mat-cell *matCellDef="let zahtev"> {{zahtev.tipZahteva}} </td>
        </ng-container>
      
        <ng-container matColumnDef="datum">
          <th mat-header-cell *matHeaderCellDef>Datum podnošenja</th>
          <td mat-cell *matCellDef="let zahtev"> {{convertDate(zahtev.datum)}} </td>
        </ng-container>
    
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let zahtev"> {{zahtev.status}} </td>
        </ng-container>

        <ng-container matColumnDef="dokumenti">
          <th mat-header-cell *matHeaderCellDef>Dokumenti</th>
          <td mat-cell *matCellDef="let zahtev">
            <a [routerLink]="'/html/zahtevi/' + zahtev.broj">HTML</a><br>
            <a [routerLink]="'/pdf/zahtevi/' + zahtev.broj">PDF</a>
          </td>
        </ng-container>

        <ng-container matColumnDef="metapodaci">
          <th mat-header-cell *matHeaderCellDef>Metapodaci</th>
          <td mat-cell *matCellDef="let zahtev">
            <a *ngIf="true" (click)="xmlMetadata(zahtev.broj)">XML</a><br>
            <a *ngIf="true" (click)="jsonMetadata(zahtev.broj)">JSON</a>
          </td>
        </ng-container>

        <ng-container matColumnDef="akcije">
          <th mat-header-cell *matHeaderCellDef>Akcije</th>
          <td mat-cell *matCellDef="let zahtev">
            <span *ngIf="uloga === 'sluzbenik' && zahtev.status === 'cekanje'">
              <a [routerLink]="'/obavestenje-form/' + zahtev.broj">
              Odobri</a><br>
              <a [routerLink]="'/odbijanje-form/' + zahtev.broj">
              Odbij</a>  
            </span>
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="columns" class="header"></tr>
        <tr mat-row *matRowDef="let zahtev; columns: columns;"
        (click)="selectedZahtev = selectedZahtev === zahtev ? null : zahtev"
        [class.marked]="selectedZahtev === zahtev"></tr>

        <tr class="mat-row" *matNoDataRow><td class="mat-cell" colspan="6">Nema zahteva</td></tr>

      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>

  <app-reference-list *ngIf="selectedZahtev"
  [reference]="selectedZahtev.reference"></app-reference-list>
  
</mat-drawer-container>