<app-preloader *ngIf="fetchPending || sendPending" [transparent]="sendPending">
</app-preloader>

<div class="root">

  <h2>Lista podnetih žalbi</h2><br>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="zalbe">
    
      <ng-container matColumnDef="tipZalbe">
        <th mat-header-cell *matHeaderCellDef>Tip žalbe</th>
        <td mat-cell *matCellDef="let zalba"> {{zalba.tipZalbe}} </td>
      </ng-container>
  
      <ng-container matColumnDef="datum">
        <th mat-header-cell *matHeaderCellDef>Datum</th>
        <td mat-cell *matCellDef="let zalba"> {{convertDate(zalba.datum)}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let zalba">{{zalba.status}}</td>
      </ng-container>

      <ng-container matColumnDef="dokumenti">
        <th mat-header-cell *matHeaderCellDef>Dokumenti</th>
        <td mat-cell *matCellDef="let zalba">
          <a [routerLink]="'/html/zalbe/' + zalba.broj">HTML</a><br>
          <a [routerLink]="'/pdf/zalbe/' + zalba.broj">PDF</a>        
      </td>
      </ng-container>

      <ng-container matColumnDef="metapodaci">
        <th mat-header-cell *matHeaderCellDef>Metapodaci</th>
        <td mat-cell *matCellDef="let zalba">
          <a (click)="xmlMetadata(zalba.broj)" href="/zalba-list">XML</a><br>
          <a (click)="jsonMetadata(zalba.broj)" href="/zalba-list">JSON</a>
        </td>
      </ng-container>

      <ng-container matColumnDef="odgovor">
        <th mat-header-cell *matHeaderCellDef>Odgovor</th>
        <td mat-cell *matCellDef="let zalba">
          <a *ngIf="zalba.status === 'odgovoreno'" [routerLink]="'/html/odgovori/' + zalba.broj">HTML</a><br>
          <a *ngIf="zalba.status === 'odgovoreno'" [routerLink]="'/pdf/odgovori/' + zalba.broj">PDF</a>          
        </td>
      </ng-container>

      <ng-container matColumnDef="akcije">
        <th mat-header-cell *matHeaderCellDef>Akcije</th>
        <td mat-cell *matCellDef="let zalba">
          <button 
          *ngIf="!sendPending && uloga === 'poverenik' && zalba.status === 'cekanje'"
          mat-raised-button 
          color="primary"
          (click)="prosledi(zalba)">
          Prosledi žalbu</button>
          <button
          *ngIf="!sendPending && uloga === 'poverenik' && zalba.status === 'odustato'"
          mat-raised-button 
          color="primary"
          (click)="obustavi(zalba)">
          Obustavi žalbu</button>
          <button
          *ngIf="!sendPending && uloga === 'gradjanin' && canOdustati(zalba)"
          mat-raised-button 
          color="primary"
          (click)="odustani(zalba)">
          Odustani od žalbe</button>
          <a 
          *ngIf="uloga === 'poverenik' && canResiti(zalba)"
          [routerLink]="'/resenje-form/' + zalba.broj">Dodaj rešenje</a>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
      <tr class="mat-row" *matNoDataRow><td class="mat-cell" colspan="7">Nema žalbi</td></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
