<div class="mat-elevation-z8">
    <mat-card>
        <mat-card-content>
            <span>
                {{resenje.datum}}
            </span>  
            <span>
                {{resenje.organVlasti}}
            </span>
            <span>
                {{resenje.status}}
            </span>
            <span>
                <a [routerLink]="'/html/resenja/' + resenje.broj">preuzmi html</a>
            </span>
            <span>                
                <a [routerLink]="'/pdf/resenja/' + resenje.broj">preuzmi pdf</a>
            </span>
        </mat-card-content>
    </mat-card>
</div>
