  
<div class="mat-elevation-z8">
    <mat-card>
        <mat-card-content>
            <span>
                {{zahtev.datum}}
            </span>  
            <span>
                {{zahtev.tipZahteva}}
            </span>
            <span>
                <button (click)="openHtml()">uzmi html</button>
            </span>
            <span>
                
                <!--<button (click)="prezumiPdf(zahtev.broj)">PREUZMIE PDF</button>-->
                <button (click)="openPdf()">uzmi pdf</button>
            </span>
            <span *ngIf="uloga === 'sluzbenik' && zahtev.status === 'cekanje'">
                <button (click)="dodajObavestenje()">dodaj obavestenje</button>
            </span>
        </mat-card-content>
    </mat-card>
</div>