<div class="mat-elevation-z8">
    <mat-card>
        <mat-card-content>
            <span>
                {{zahtev.datum}}
            </span>  
            <span>
                {{zahtev.tipZahteva}}
            </span>
            <span>
                <a [routerLink]="'/html/zahtevi/' + zahtev.broj">preuzmi html</a>
            </span>
            <span>                
                <a [routerLink]="'/pdf/zahtevi/' + zahtev.broj">preuzmi pdf</a>
            </span>
            <span *ngIf="uloga === 'sluzbenik' && zahtev.status === 'cekanje'">
                <a [routerLink]="'/obavestenje-form/' + zahtev.broj">dodaj obavestenje</a>
            </span>
        </mat-card-content>
    </mat-card>
</div>