<app-form-container>
    <h3>Žalba na odluku organa vlasti</h3><br><br>
    <form [formGroup]="zalbaForm">
        <div [class.disabled]="savePending">
            <mat-form-field>
                <mat-label>Naziv organa vlasti</mat-label>
                <input 
                matInput 
                autocomplete="off"
                formControlName="naziv" 
                placeholder="Unesite naziv organa vlasti">
                <mat-error>
                    Naziv organa vlasti je obavezan!
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Broj zahteva</mat-label>
                <input 
                matInput 
                autocomplete="off"
                formControlName="brojZahteva"
                placeholder="Unesite broj zahteva">
                <mat-error>
                    Broj zahteva je obavezan!
                </mat-error>    
            </mat-form-field>
            <mat-form-field>
                <mat-label>Broj odluke</mat-label>
                <input 
                matInput 
                autocomplete="off"
                formControlName="brojOdluke" 
                placeholder="Unesite broj odluke">
                <mat-error>
                    Broj odluke je obavezan!
                </mat-error>
            </mat-form-field>     
            <div id="detaljiEditor"></div>
        </div>    
        <br><br>
        <app-center-container>
            <button 
            *ngIf="!savePending"
            mat-raised-button 
            color="primary"
            (click)="save()">Pošalji zalbu</button>
            <app-spinner-button *ngIf="savePending"></app-spinner-button>
        </app-center-container>
    </form>
</app-form-container>