<app-form-container>
    <h2>Prijava</h2>
    <br><br>
    <form [formGroup]="loginForm">
        <div [class.disabled]="loginPending">
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input 
                matInput 
                autocomplete="off"
                formControlName="email" 
                placeholder="Unesite email">
                <mat-error>
                    Email je obavezan!
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Lozinka</mat-label>
                <input 
                type="password" 
                matInput 
                autocomplete="off"
                formControlName="lozinka"
                placeholder="Unesite lozinku">
                <mat-error>
                    Lozinka je obavezna!
                </mat-error>    
            </mat-form-field>
        </div>
        <br><br>
        <app-center-container>
            <button 
            *ngIf="!loginPending"
            mat-raised-button 
            color="primary"
            (click)="login()">Login</button>
            <app-spinner-button *ngIf="loginPending"></app-spinner-button>
        </app-center-container>
    </form>
</app-form-container>
